body {
    background-color: rgb(70, 191, 202);
    color: #472056
   font-family: "Georgia", serif;
}

h1 {
    color: :aquamarine;
    font-size: 40px;
}

.seccion {
    background-color: beige;
}

#perfil {
    background-color: antiquewhite;
    }